:root
{
    --primary-backg-color:#000;
    --primary-text-color:#fff;
    --secondary-text-color:#01bf71;
    --primary-icon-color:#fff;
    --secondary-icon-color:rgba(249, 245, 83, 1);
}

.services
{
    padding-top: 5px;
    background-color: var(--primary-backg-color);
}
.services h1
{
    color: var(--secondary-text-color);
    font-family: var(--hero-font);
}
.services .container
{
    width: 80%;
}
.card
{
    width: 13rem;
    height: 15rem;
    margin: 5px auto;
    box-shadow: 1px 2px 4px var(--secondary-text-color);
    transition: all 0.2s ease-in-out;
    background-color: var(--secondary-icon-color);
}
.card h5
{
    font-family: var(--tertiary-font);
    color: var(--secondary-text-color);
}
.card p
{
    font-family: var(--nav-font);
    color: var(--primary-text-color);
}
.card:hover
{
    transform: scale(1.02);
    transition: all 0.2s ease-in-out;
}
.card img
{
    width: 50%;
    height: 50%;
    margin: 5px auto;
}